.chat {
    width: 100%;
    color: #434651;
    border: 2px solid #EEEEEE;
    max-width: 430px;
    margin: 0 auto;

    border-radius: 15px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.chat .chat-header {
    display: flex;
    padding: 5px 0 7px 0;
    border-bottom: 4px solid white;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

.chat .chat-header .chat-about {
    margin-left: 20px;
    font-size: 35px;
    font-family: 'Do Hyeon';
    text-align: center;
}

.chat .chat-history {
    padding: 10px 0px 10px 0px;
    border-bottom: 5px solid white;
    scrollbar-width: none;
    overflow-y: auto;
    /* 여기 추가 */
    height: 575px;
}

/* Chrome, Safari, Edge */
.chat .chat-history::-webkit-scrollbar {
    display: none;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
    font-size: 14px;
}

.chat .chat-history .message-data-time {
    font-size: 14px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 22px;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #F1F1F1;
    border-width: 10px;
    right: 17%;
}

.chat .chat-history .my-message {
    background: #F1F1F1;
    padding: 5px 10px;
    font-size: 15px;
    width: 90%;
    color: black;
}

.chat .chat-history .other-message {
    border: 1px solid #8A8A8A;
    padding: 5px 10px;
    font-size: 15px;
    width: 90%;
    color: black;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #8A8A8A;
    left: 17%;
}

.chat .chat-message {
    padding: 5px 15px 0px 15px;
    background-color: #EFEFEF;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 15px;
    resize: none;
    margin-bottom: 20px;
}

.chat .chat-message textarea:focus {
    outline: none;
    border: 2px solid #DAA520;
    /* 짙은 황금색 */
}

.align-right {
    text-align: right;
    float: right;
}

.float-right {
    float: right;
    margin-right: 10px;
}

.float-left {
    float: left;
    margin-left: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.face-image {
    position: relative;
    top: 0.5rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* Added on 2023-08-22: Waiting animation styles */
.loading-dots {
    display: inline-block;
    /* width: 30px; */
    height: 10px;
    text-align: center;
    font-size: 10px;
}

.loading-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #555;
    border-radius: 50%;
    opacity: 0;
    animation: loading-dots 1.5s infinite;
}

.loading-dots span:nth-child(1) {
    animation-delay: 0.1s;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes loading-dots {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.info {
    display: block;
    height: 1.2rem;
    font-size: 12px;
    color: #1A237E;
    font-weight: bolder;
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 50;
}

.drag-over {
    /* background: #b39198 */
    background-color: rgba(0, 0, 0, 0.5);
}

#file {
    display: none;
}

.center-image {
    text-align: center;
}